<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon>local_shipping</mat-icon> Bodega4</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink] = "['/ingreso']" routerLinkActive><mat-icon>arrow_forward</mat-icon>  Ingresos</a>
      <a mat-list-item [routerLink] = "['/salida']" routerLinkActive><mat-icon>arrow_back</mat-icon> Salidas</a>
      <a mat-list-item [routerLink] = "['/productos']" routerLinkActive><mat-icon>bookmark</mat-icon> Productos</a>
      <h2 matSubheader>Reportes</h2>
        <a mat-list-item  [routerLink] = "['/reportes/visual']" routerLinkActive><mat-icon>remove_red_eye</mat-icon> Visual</a>
        <a mat-list-item  [routerLink] = "['/reportes/productos']" routerLinkActive><mat-icon>bookmark</mat-icon> Productos</a>
        <a mat-list-item  [routerLink] = "['/reportes/inventario']" routerLinkActive><mat-icon>view_module</mat-icon> Inventarios</a>
        <a mat-list-item  [routerLink] = "['/reportes/tuneles']" routerLinkActive><mat-icon>list</mat-icon> Tuneles</a>
        <h2 matSubheader>...</h2>
        <a mat-list-item  [routerLink] = "['/perfil']" routerLinkActive><mat-icon>account_circle</mat-icon>Perfil</a>
        <a mat-list-item  [routerLink] = "['/usuarios']" routerLinkActive *ngIf="rol === 'Administrador'"><mat-icon>people</mat-icon> Gestionar Usuarios</a>
        <a mat-list-item (click)="salir()"><mat-icon color="warn">meeting_room</mat-icon>Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{username}}</span> <span style="margin-left: 1%;">|</span>
      <span layout-align="end center" style="font-size: 15px; margin-left: 1%; margin-top: 0.1%;"><i>{{rol}}</i></span>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
