<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon>local_shipping</mat-icon> Bodega4</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink] = "['/ingreso']" routerLinkActive>Ingresos</a>
      <a mat-list-item [routerLink] = "['/salida']" routerLinkActive>Salidas</a>
      <a mat-list-item  [routerLink] = "['/reportes/visual']" routerLinkActive>Visual</a>
      <a mat-list-item  [routerLink] = "['/reportes/productos']" routerLinkActive>Productos</a>
      <a mat-list-item  [routerLink] = "['/reportes/inventario']" routerLinkActive>Inventarios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>b4frontend</span>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
